body{
    background-color: rgb(235,237,241);
    font-family: Helvetica;
    margin-top:0;
    margin-bottom:0;
    
 }
    h1{
        opacity: 0.5;
    }
#container{
    font-family:AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width:100%;
}
#sign-in{
    display: grid;
    grid-template-columns: 90% 10%;
     width:100%;
    float: right;
    overflow: hidden;
}
@media all and  (max-width:768px) {
    #sign-in{
        display:none;
    }
}
#sign-in-p{
    font-size:0.75em;
    margin-right:2em;
    float: right;
    margin-top: 1.8em;
}
#sign-button{
     width:9em;
    height:2.8em;
    border-radius: 0.4em;
    background-color: rgb(61,159,218);
    background-image: url(lastlock.png);
    background-repeat: no-repeat;
    background-position: 15%;
    
    color:white;
    float: right;
    margin-right: 1em;
    margin-top:0;
}
#logocontainer{
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom:1em;
}
#form-container{
    
    width:31%;
    margin-left:0;
    margin-right:0;
    padding:0;
    margin:0;
}
#form{
    align-content: center;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    width: 100%;
}
#fieldset{
  
    font-size: 0.875em;
    background:white;
    border:0.0358em solid silver;
    border-radius:0.2em;
    padding-left:2em;
}
@media all and  (max-width:768px) {
    #form-container{
        width:100%;
    }
}

.first{
    font-size: 1.7em;
    
    opacity: 0.75;
    text-align: center;
}
.headnote{
    text-align: center;
    padding:0.2em;
    opacity: 0.75;
}
.input1,.input2,.input3{
   border: 0.1em solid silver;
    font-size: 0.750em;
    width:88%;
    padding:0.2em;
    height: 2.875em;
    border-radius: 0.3em;
    margin-top:1em;
}
.input1{
    
    margin-bottom: 3em;
}

#telnote{
    font-size: 0.625em;
    margin-bottom:3em;
}

#account{
    width:88%;
    height:3.8em;
    margin-top:3em;
    background:rgb(61,159,218);
    color:white;
    font-size: 0.938em;
    margin-bottom: 0.2em;
    opacity: 1;
    background-image: url(lastlock.png);
    background-repeat: no-repeat;
    background-position: 25%;
}

#deny{
    font-size:0.8em;
    margin:auto;
    padding-top:0.8em;
}
#google{
    opacity: 0.5;
}
#footer{
    font-size: 0.750em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    text-align: center;
    line-height:normal;
    
    margin-top:2em;
    width:100%;
}
.list{
    display: inline;
    padding:0.8em;
    list-style: none;
   
}
.list>a{
    color:black;

}
a{
    color:rgb(87,115,195);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.terms{
    margin-top:1em;
    justify-content: center;
    align-content: center;
    align-items:center;
    text-align: center;
    
}